<div class="container">
  <h2>Events</h2>
  <% @events.each do |event| %>
    <%= link_to event_path(event) do %>
      <div class="card-trip no-deco">
        <div class="card-trip-infos">
          <div>
            <h2><%= event.user.name %></h2>
            <p><%= event.name %></p>
            <p><%= event.event_date %></p>
            <p><%= event.address %></p>
          </div>
          <h2 class="card-trip-pricing"></h2>
        </div>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      </div>
    <% end %>
  <% end %>
</div>
